/* custom css for desktops */
.body-display {
	padding-top: 20px;
	padding-bottom: 60px;
}

/* customize the card for the login screen */
#card-custom {
	width: 30%;
	margin: auto;
}

/* adding className of margin will give the element a right margin of [] px */
.margin-right {
	margin-right: 10px;
}
/* adding className of margin will give the element a right margin of [] px */
.margin-left {
	margin-left: 10px;
}

.form-margin {
	width: 80%;
	margin: auto;
}

.login-btn {
	width: 75%;
	margin: auto;
}

.padding-top {
	padding-top: 10px;
}

.btn {
	border-radius: 30px !important;
}

select {
	border-radius: 30px !important;
}

.container {
	width: 100%;
}

.form-container {
	margin: 0 auto;
	max-width: 1280px;
	padding-bottom: 60px;
}

.spacer {
	margin-top: 10px;
}

/* this is style for the login input section */
input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid black !important;
	box-shadow: 0 1px 0 0 black !important;
}

/* added this to anchor the footer at the bottom of the login page */
.login-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.datepicker-date-display {
	background-color: grey !important;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 992px) {
	#card-custom {
		width: 60%;
		margin: auto;
	}
}

@media only screen and (max-width: 600px) {
	#card-custom {
		width: 80%;
		margin: auto;
	}
}
