/* custom css for desktops */

/* customize the card for the login screen */
#card-custom {
	width: 30%;
	margin: auto;
}

/* adding className of margin will give the element a right margin of [] px */
.margin-right {
	margin-right: 10px;
}
/* adding className of margin will give the element a right margin of [] px */
.margin-left {
	margin-left: 10px;
}

.login-btn {
	width: 75%;
	margin: auto;
}

.btn {
	border-radius: 30px !important;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 992px) {
	#card-custom {
		width: 60%;
		margin: auto;
	}
}

@media only screen and (max-width: 600px) {
	#card-custom {
		width: 80%;
		margin: auto;
	}
}
