/* custom css for desktops */

/* customize the card for the login screen */
#card-custom {
	width: 30%;
	margin: auto;
}

/* style for buttons that are located next to one another */
.action-btn {
	margin-right: 10px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 992px) {
	#custom-card {
		width: auto;
		margin: auto;
	}
}

@media only screen and (max-width: 600px) {
}
